ul.social-network {
  list-style: none;

  padding-left: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa {
  font-size: 35pt;
  color: black;
  padding: 10px;
 
}

.fa-github:hover {
  color: black;
  font-size:  55pt; 
}
.fa-linkedin-square:hover{
  color: black;
  font-size:  55pt; 
}