#img-bg {
  background-image:url('https://nfe.io/blog/app/uploads/2020/08/sistema-de-cadastro-clientes.jpg');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}